In [5]:
import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score

In [2]:
db = pd.read_csv("data.csv",sep = ';' )
db

,ATES,BULANTI,BEL-AGRI,SUREKLI-WC,IDRAR-SIRASINDA-AGRI,URETRADA-YANMA-SISME-KASINTI,MESANE-ILTIHABI,BOBREK-ILTIHABI
0,355,0,1,0,0,0,0,0
1,359,0,0,1,1,1,1,0
2,359,0,1,0,0,0,0,0
3,360,0,0,1,1,1,1,0
4,360,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...
115,414,0,1,1,0,1,0,1
116,415,0,0,0,0,0,0,0
117,415,1,1,0,1,0,0,1
118,415,0,1,1,0,1,0,1
119,415,0,1,1,0,1,0,1

In [3]:
db.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 8 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   ATES                          120 non-null    int64
 1   BULANTI                       120 non-null    int64
 2   BEL-AGRI                      120 non-null    int64
 3   SUREKLI-WC                    120 non-null    int64
 4   IDRAR-SIRASINDA-AGRI          120 non-null    int64
 5   URETRADA-YANMA-SISME-KASINTI  120 non-null    int64
 6   MESANE-ILTIHABI               120 non-null    int64
 7   BOBREK-ILTIHABI               120 non-null    int64
dtypes: int64(8)
memory usage: 7.6 KB

In [4]:
X = db.drop(["MESANE-ILTIHABI","BOBREK-ILTIHABI"],axis=1)
y = db['MESANE-ILTIHABI']
X_train, X_test, y_train, y_test = train_test_split(X, y,test_size=0.2 )

In [5]:
A = db.drop(["MESANE-ILTIHABI","BOBREK-ILTIHABI"],axis=1)
b = db['BOBREK-ILTIHABI']
A_train, A_test, b_train, b_test = train_test_split(A, b,test_size=0.2 )

In [6]:
rf1 = RandomForestClassifier(n_estimators=100, random_state=0, n_jobs = -1)
rf1.fit(X_train, y_train)
y_pred = rf1.predict(X_test)
score= accuracy_score(y_test, y_pred) * 100
print(score)
report_rf1=classification_report(y_test, y_pred)
print(report_rf1)
print(confusion_matrix(y_test,y_pred))

100.0
              precision    recall  f1-score   support

           0       1.00      1.00      1.00        15
           1       1.00      1.00      1.00         9

    accuracy                           1.00        24
   macro avg       1.00      1.00      1.00        24
weighted avg       1.00      1.00      1.00        24

[[15  0]
 [ 0  9]]

In [7]:
rf2 = RandomForestClassifier(n_estimators=100, random_state=0, n_jobs = -1)
rf2.fit(A_train, b_train)
b_pred = rf2.predict(A_test)
score= accuracy_score(b_test, b_pred) * 100
print(score)
report_rf2=classification_report(b_test, b_pred)
print(report_rf2)
print(confusion_matrix(b_test,b_pred))

100.0
              precision    recall  f1-score   support

           0       1.00      1.00      1.00        11
           1       1.00      1.00      1.00        13

    accuracy                           1.00        24
   macro avg       1.00      1.00      1.00        24
weighted avg       1.00      1.00      1.00        24

[[11  0]
 [ 0 13]]

In [29]:
new_input = [[395, 0, 1, 1, 1, 0]]

In [30]:
d1 = rf1.predict(new_input)
d2 = rf2.predict(new_input)

In [31]:
d1

array([1], dtype=int64)

In [32]:
d2

array([1], dtype=int64)

In [33]:
prb1 = rf1.predict_proba(new_input)
prb2 = rf2.predict_proba(new_input)

In [34]:
prb1

array([[0.34, 0.66]])

In [1]:
prb2

NameError: name 'prb2' is not defined